__pycache__
venv
Notes
ToDoApp/__pycache__
ToDoApp/SQLITEInitialQueries.sqlite3-query
ToDoApp/todos.db
ToDoAppV2/__pycache__
ToDoAppV2/SQLITEInitialQueries.sqlite3-query
ToDoAppV2/todosapp.db
ToDoAppV2/.env